@tailwind base;
@tailwind components;

@font-face {
  font-family: gilroyFont;
  src: url(./assets/fonts//Gilroy-SemiBold.ttf);
}

/* common css */

:root {
  --orange: #e26030;
  --black: rgba(2, 6, 12, 0.92);
  --light-gray: rgba(2, 6, 12, 0.6);
  font-family: gilroyFont;
}

.sectionPadding {
  @apply py-[30px] md:py-[45px] lg:py-[80px];
}

.topPadding {
  @apply pt-[30px] md:pt-[45px] lg:pt-[80px];
}

.bottomPadding {
  @apply pb-[30px] md:pb-[45px] lg:pb-[80px];
}

.row {
  @apply flex flex-wrap;
}

.col3 {
  @apply w-full  md:w-1/4 px-3 py-3;
}

.col4 {
  @apply w-full md:w-1/2 lg:w-2/6 px-3 py-3;
}

.col6 {
  @apply w-full md:w-1/2 px-3 py-3;
}

.imgFluid {
  @apply w-full h-auto;
}

/* ------- */

.ptext {
  @apply text-[#949396]  text-xl  md:text-xl;
}

.btn {
  @apply bg-[#E25E38] text-white px-5 py-3 rounded-full;
}

.dividerLine {
  border: 1px solid rgba(0, 0, 0, 0.08);
}

@tailwind utilities;

/* swiper js */

.swiper-wrapper {
  padding-top: 40px;
}

.swiper-button-prev {
  top: 1px;
  right: 40px !important;
  left: unset;
}

.swiper-button-next {
  top: 0;
  right: 0;
}

.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
  justify-content: unset;
  align-items: unset;
  margin: 0;
  display: unset;
  color: #000;
  background: #d6d7d8;
  padding: 10px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 13px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

/* note there are 2 types of css update @apply and @layers */
