:root {
  --offwhite: #f5f5f5;
  --light-gray: #ededf0;
  --red-Pink: #fd366e;
  --dark-grey: #19191d;
  --dark-blackshade: #262626;

  /* default is light mode */
  --background-color: #ededf0;
  --text-color: #262626;

  --btn-background: #262626;
  --btn-text: #ededf0;

  --nav-text: #262626;

  --themebtn-background: #262626;
  --themebtn-text: #ededf0;
}

[data-theme="dark"] {
  --background-color: #262626;
  --text-color: #ededf0;

  --btn-background: #fd366e;
  --btn-text: #262626;

  --nav-text: #ededf0;

  --themebtn-background: #ededf0;
  --themebtn-text: #262626;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.enquireBtn {
  background: var(--btn-background);
  border-radius: 10px;
  padding: 10px 15px;
  border: 2px solid var(--btn-background);
  color: #ededf0;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
}

h1 {
  width: 450px;
  text-align: right;
  margin: 20px 0;
}

.dataVal {
  margin: 15px 35px 20px 20px;
  font-size: 40px;
  font-weight: 600;
  width: 80px;
}

.btnData {
  padding: 10px 15px;
  font-size: 22px;
  font-weight: 600;
  color: #000;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.2);
}

.inputFieldData {
  width: 250px;
  padding: 10px;
  font-size: 20px;
  line-height: 25px;
  border-radius: 10px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
}

/* grid test home work  */

.gridContainerWrap {
  display: grid;
  gap: 10px;

  /* repeat is used to repeat and 3 denotes column and each column has 1fr width  */
  /* grid-template-columns: 1fr 1fr 1fr;   3 times fr for 3 column display */
  grid-template-columns: repeat(3, 1fr);
}

.header,
.footer {
  /* grid-column-start: 1;
  grid-column-end: -1; */
  /* but above 2 lines can be written in 1 line start-point/end-point  */
  grid-column: 1/-1;
}

.sidebar {
  grid-row: 2/4;
}

.content1 {
  grid-column: 2/-1;
}

.gridItem {
  width: 100%;
  padding: 20px;
  background: #fd366e;
  color: #000;
  border-radius: 8px;
  font-weight: 600;
}

/* homework 2 */

.gridContainerWrap2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.subItemA {
  grid-column: 1/4;
}

.subItemB {
  /* grid-row: 1/4; */
  grid-row: span 4;
}

.subItemC {
  grid-row: span 2;
}

.subItemD {
  grid-column: span 2;
}

.subItemG {
  grid-column: span 3;
}

.gridSubItem2 {
  width: 100%;
  padding: 20px;
  background: #fd366e;
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
}

/* homework 3 */

.gridContainerWrap3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.subgridcontent1 {
  width: 100%;
  padding: 20px;
  background: #fd366e;
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
}

.subgrid1 {
  grid-column: 1/-1;
}

.subgrid2 {
  /* grid-row: 2/4; both will apply same css  grid-row: span 2;  */
  grid-row: span 2;
}

.subgrid4 {
  grid-row: span 2;
}

.subgrid6 {
  grid-column: 1/4;
}

/* ----------- */

.lightModeLink {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  background: transparent;
}

.textRedPink {
  color: var(--red-Pink);
}

.textDarkBlack {
  color: var(--nav-text);
}

.themeBtn {
  border: none;
  display: flex;
  padding: 8px 12px;
  border-radius: 10px;
  font-weight: 600;
  background: var(--themebtn-background);
  color: var(--themebtn-text);
}

.themeIcon img {
  width: 20px;
  height: 20px;
  /* margin-right: 10px; */
}
