:root {
  --background-color: #f5f5f5;
  --text-color: #262626;
  --pink-color: #fd366e;
}

body {
  background: var(--background-color);
}

.logo {
  width: 150px;
  height: auto;
}

.linkData {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}

.pinkText {
  color: var(--pink-color);
}

.darkText {
  color: var(--text-color);
}

.card-text {
  margin: 0 !important;
  font-size: 22px;
  font-weight: 500;
}

.productTextData {
  font-size: 14px;
}
