.imgOverlay {
  position: absolute;
  bottom: 0;
  border-radius: 0 0 1.5rem 1.5rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: start;
  align-items: end;
  text-align: left;
  padding: 0 0 10px 17px;
  background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 93%);
  height: calc(65px);
  width: auto;
}

.iconBg {
  background-color: #e26031;
  border-radius: 100%;
  padding: 3px;
  width: 20px;
  height: 20px;
}

.RestaurantCardWrap:hover {
  transform: scale(0.95, 0.95);
  transform-origin: center center;
  transition: all 0.1s ease-in 0s;
}
