/* swiper js */

.swiper-wrapper {
  @apply pt-6 md:pt-10;
}

.swiper-button-prev {
  top: 1px;
  right: 65px !important;
  left: unset;
}

.swiper-button-next {
  top: 0px;
  right: 25px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
  justify-content: unset;
  align-items: unset;
  margin: 0;
  display: unset;
  color: #000;
  background: #d6d7d8;
  padding: 10px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 13px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
